@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed|Roboto+Monon|Roboto+Slab|Edu+Australia+VIC+WA+NT+Hand|Open+Sans|Montserrat|Poppins|Inter|Oswald|Noto+Sans|Raleway|Lobster|Nunito+Sans|Nunito|Rubik|Ubuntu|Playfair+Display|Kanit|Work+Sans|Mulish|Quicksand|PT+Serif|Noto+Serif|Bona+Nova+SC|Merriweather|Bebas+Nueue|Dosis|Dancing+Script&amp;display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --border-color: #000000;
  --background-color: #EFC548;
  --background-color-primary: #ffffff;
  --background-color-secondary: #000000;
  --background-image: url('../images/background.png');
  --icon-width: 35px;
  --icon-height: 35px;
  --navbar-height: 30px;
  --navbar-width: var(--content-width);
  --navbar-background-color: var(--background-color);
  --navbar-link-color: var(--primary-color);
  --navbar-link-highlight-color: #df0000;
  --navbar-link-size: 14px;
  --navbar-link-weight: 400;
  --navbar-border-color: var(--border-color);
  --navbar-border-width: 1px;
  --navbar-border-style: solid;
  --title-color: #000000;
  --subtitle-color: #000000;
  --paragraph-light-color: gray;
  --paragraph-dark-color: #000000;
  --accent-color-3: #000000;
  --no-space: 0px;
  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
  --space-5: 25px;
  --space-6: 30px;
  --space-7: 40px;
  --space-8: 50px;
  --space-9: 60px;
  --space-10: 70px;
  --space-11: 80px;
  --space-12: 90px;
  --page-alignment: center;
  --page-width: 100vw;
  --page-height: 100vh;
  --page-margin: 0px;
  --page-padding: 0px;
  --border-radius: 8px;
  --image-max-width: 400px;
  --image-max-height: 400px;
  --image-border-color: #000000;
  --image-border-width: 1px;
  --text-no-indent: 0px;
  --text-sm-indent: 15px;
  --text-lg-indent: 25px;
  --default-font-family: 'Lato', 'Open Sans', 'Roboto', sans-serif;
  --fancy-font-family: 'Dancing Script', cursive;
  --title-font-family: 'Lobster', 'Noto Sans', 'Noto Serif';
  --code-font-family: 'Roboto Mono', 'Inconsolata', monospace;
  --paragraph-font-family: 'Montserrat', 'Poppins', 'Inter', 'Raleway';
  --default-font-size: 16px;
  --font-size-xs: 9px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --letter-spacing: 0.1em;
  --default-line-height: 1.5;
  --default-font-weight: 300;
  --fancy-font-weight: 400;
  --title-font-weight: 400;
  --paragraph-font-weight: 300;
  --code-font-weight: 300;
  --default-font-style: normal;
  --fancy-font-style: normal;
  --title-font-style: normal;
  --paragraph-font-style: normal;
  --code-font-style: normal;
  --content-border-width: var(--navbar-border-width);
  --content-border-style: solid;
  --content-border-color: var(--navbar-border-color);
  --content-background-color: var(--background-color);
  --content-margin: var(--no-space);
  --content-mobile-width: 90%;
  --content-tablet-width: 80%;
  --content-desktop-width: 700px;
  --border-radius: 8px;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--background-color-primary);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  color: var(--primary-color);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  width: var(--page-width);
  height: var(--page-height);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--no-space);
  padding: var(--space-5);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: top;
  align-items: var(--page-alignment);
  margin: var(--no-space);
  padding-top: var(--space-12);
  padding-bottom: var(--space-4);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(var(--content-desktopwidth) - 2 * var(--content-border-width));
    background-color: var(--content-background-color);
    border-radius: var(--border-radius);
    border-color: var(--content-border-color);
    border-style: var(--content-border-style);
    border-width: var(--content-border-width);
    min-height: 300px;
    padding: var(--no-space);
    margin: var(--content-margin);


    #skilled_electricians {
      border-radius: var(--border-radius);
      width: 95%;
      margin-top: 15px;
    }

    #ourwork {
      border-radius: var(--border-radius);
      width: 95%;
      margin-top: 15px; 
    }

    #about {
      border-radius: var(--border-radius);
      width: 95%;
      margin-top: 15px; 
    }

    #services {
      border-radius: var(--border-radius);
      width: 95%;
      margin-top: 15px;
    }

    #contact {
      border-radius: var(--border-radius);
      width: 95%;
      margin-top: 15px;
    }

    .service-category {
      h2 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-2xl);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }

      p {
        margin-top: var(--no-space);
          margin-bottom: var(--space-2);
          margin-left: var(--space-4);
          margin-right: var(--space-4);
          width: 95%;
          font-family: var(--paragraph-font-family);
          font-weight: var(--paragraph-font-weight);
          font-size: var(--font-size-md);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          align-items: left;
          text-indent: var(--space-4);
      }

      ul {
        margin-left: 20px;
        list-style-type: disc;

        li {
          margin-top: var(--no-space);
          margin-bottom: var(--space-2);
          margin-left: var(--space-4);
          margin-right: var(--space-4);
          width: 95%;
          font-family: var(--paragraph-font-family);
          font-weight: var(--paragraph-font-weight);
          font-size: var(--font-size-md);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          align-items: left;
        }
      }
    }

    h1 {
      display: flex;
      margin-bottom: var(--space-2);
      margin-top: var(--space-3);
      font-family: var(--title-font-family);
      font-weight: var(--title-font-weight);
      font-size: var(--font-size-4xl);
      letter-spacing: var(--letter-spacing);
      line-height: var(--default-line-height);
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      width: 95%;
      align-items: left;
    }

    h2 {
      display: flex;
      margin-bottom: var(--space-2);
      margin-top: var(--space-3);
      font-family: var(--title-font-family);
      font-weight: var(--title-font-weight);
      font-size: var(--font-size-2xl);
      letter-spacing: var(--letter-spacing);
      line-height: var(--default-line-height);
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      width: 95%;
      align-items: left;
    }

    p {
      display: flex;
      margin-top: var(--no-space);
      margin-bottom: var(--space-2);
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      width: 95%;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--font-size-md);
      letter-spacing: var(--letter-spacing);
      line-height: var(--default-line-height);
      align-items: left;
      text-indent: var(--space-5);
    }

    .youtube-video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: var(--space-5);
      margin-bottom: var(--space-5);
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      width: 95%;
    }

    .licensing {
      display: flex;
      flex: 1;
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      margin-top: var(--space-2);
      margin-bottom: var(--space-1);
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--no-space);
  padding: var(--no-space);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

#logo {
  height: 75px;
  width: 200px;
  border-radius: 8px;
}

#facebook-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#twitter-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#instagram-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#tiktok-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#linkedin-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#discord-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

#youtube-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: calc(var(--content-width) - 2 * var(--navbar-border-width));;
  background-color: var(--navbar-background-color);
  border-radius: var(--border-radius);
  border: var(--navbar-border-width) var(--navbar-border-style) var(--navbar-border-color);
  margin: var(--no-space);
  padding: var(--no-space);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: var(--no-space);
    padding: var(--no-space);
    gap: 15px;
  
    li {
      margin: var(--no-space);
      padding: var(--no-space);
    
      a {
        color: var(--navbar-link-color);
        text-decoration: none;
        font-weight: var(--navbar-text-weight);
        font-size: var(--navbar-text-size);
        font-family: var(--default-font-family);
      }

      a:hover {
        color: var(--navbar-link-highlight-color);
      }
    }
  }
}

@media (min-width: 350px) {

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--no-space);
    padding: var(--space-5);
    gap: var(--space-3);
  }

  #logo {
    width: 80%;
    border-radius: 8px;
  }
  
  #facebook-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #twitter-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #instagram-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #tiktok-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #linkedin-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #discord-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #youtube-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }

  #social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: var(--content-mobile-width) ;
    background-color: var(--navbar-background-color);
    border-radius: var(--border-radius);
    border: var(--navbar-border-width) var(--navbar-border-style) var(--navbar-border-color);
    margin: var(--no-space);
    padding: var(--no-space);
  
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: var(--no-space);
      padding: var(--no-space);
      gap: var(--space-1);
    
      li {
        margin: var(--no-space);
        padding: var(--no-space);
      
        a {
          color: var(--navbar-link-color);
          text-decoration: none;
          font-weight: var(--navbar-text-weight);
          font-size: 11px;
          font-family: var(--default-font-family);
        }
  
        a:hover {
          color: var(--navbar-link-highlight-color);
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    margin: var(--no-space);
    padding-top: var(--space-8);
    padding-bottom: var(--space-4);
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: var(--content-mobile-width);
      background-color: var(--content-background-color);
      border-radius: var(--border-radius);
      border-color: var(--content-border-color);
      border-style: var(--content-border-style);
      border-width: var(--content-border-width);
      min-height: 200px;
      padding: var(--no-space);
      margin: var(--content-margin);
  
  
      #skilled_electricians {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #ourwork {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }

      #about {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }
  
      #recessed-lighting {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #ceiling-fans {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #electrical-panels {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #switches {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #fixtures {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #services {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #contact {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      .service-category {
        h2 {
          display: flex;
          margin-bottom: var(--space-2);
          margin-top: var(--space-3);
          font-family: var(--title-font-family);
          font-weight: var(--title-font-weight);
          font-size: var(--font-size-2xl);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          margin-left: var(--space-4);
          margin-right: var(--space-4);
          width: 95%;
          align-items: left;
        }
  
        p {
          margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 11px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
            text-indent: var(--space-4);
        }
  
        ul {
          margin-left: 20px;
          list-style-type: disc;
  
          li {
            margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 11px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
          }
        }
      }
  
      h1 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-lg);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      h2 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-md);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      p {
        display: flex;
        margin-top: var(--no-space);
        margin-bottom: var(--space-4);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        font-size: 11px;
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        align-items: left;
        text-indent: var(--space-5);
      }
  
      .youtube-video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--space-5);
        margin-bottom: var(--space-5);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
      }
  
      .licensing {
        display: flex;
        flex: 1;
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        margin-top: var(--space-2);
        margin-bottom: var(--space-1);
        justify-content: center;
        align-items: center;
  
        p {
          display: flex;
          text-indent: var(--no-space);
          font-family: var(--paragraph-font-family);
          font-weight: var(--paragraph-font-weight);
          font-size: var(--font-size-xs);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          align-items: right;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--no-space);
    padding: var(--space-5);
  }

  #logo {
    width: 200px;
    height: 75px;
    border-radius: 8px;
  }
  
  #facebook-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #twitter-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #instagram-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #tiktok-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #linkedin-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #discord-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #youtube-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }

  #social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: var(--content-tablet-width) ;
    background-color: var(--navbar-background-color);
    border-radius: var(--border-radius);
    border: var(--navbar-border-width) var(--navbar-border-style) var(--navbar-border-color);
    margin: var(--no-space);
    padding: var(--no-space);
  
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: var(--no-space);
      padding: var(--no-space);
      gap: var(--space-3);
    
      li {
        margin: var(--no-space);
        padding: var(--no-space);
      
        a {
          color: var(--navbar-link-color);
          text-decoration: none;
          font-weight: var(--navbar-text-weight);
          font-size: 13px;
          font-family: var(--default-font-family);
        }
  
        a:hover {
          color: var(--navbar-link-highlight-color);
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    margin: var(--no-space);
    padding-top: var(--space-8);
    padding-bottom: var(--space-4);
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: var(--content-tablet-width);
      background-color: var(--content-background-color);
      border-radius: var(--border-radius);
      border-color: var(--content-border-color);
      border-style: var(--content-border-style);
      border-width: var(--content-border-width);
      min-height: 200px;
      padding: var(--no-space);
      margin: var(--content-margin);
  
  
      #skilled_electricians {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #ourwork {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }

      #about {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }
  
      #recessed-lighting {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #ceiling-fans {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #electrical-panels {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #switches {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #fixtures {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #services {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #contact {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      .service-category {
        h2 {
          display: flex;
          margin-bottom: var(--space-2);
          margin-top: var(--space-3);
          font-family: var(--title-font-family);
          font-weight: var(--title-font-weight);
          font-size: var(--font-size-2xl);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          margin-left: var(--space-4);
          margin-right: var(--space-4);
          width: 95%;
          align-items: left;
        }
  
        p {
          margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 13px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
            text-indent: var(--space-4);
        }
  
        ul {
          margin-left: 20px;
          list-style-type: disc;
  
          li {
            margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 13px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
          }
        }
      }
  
      h1 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-2xl);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      h2 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-lg);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      p {
        display: flex;
        margin-top: var(--no-space);
        margin-bottom: var(--space-4);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        font-size: 13px;
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        align-items: left;
        text-indent: var(--space-5);
      }
  
      .youtube-video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--space-5);
        margin-bottom: var(--space-5);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
      }
  
      .licensing {
        display: flex;
        flex: 1;
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        margin-top: var(--space-2);
        margin-bottom: var(--space-1);
        justify-content: center;
        align-items: center;
  
        p {
          display: flex;
          text-indent: var(--no-space);
          font-family: var(--paragraph-font-family);
          font-weight: var(--paragraph-font-weight);
          font-size: var(--font-size-xs);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          align-items: right;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--no-space);
    padding: var(--space-5);
  }

  #logo {
    width: 200px;
    height: 75px;
    border-radius: 8px;
  }
  
  #facebook-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #twitter-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #instagram-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #tiktok-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #linkedin-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #discord-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }
  
  #youtube-icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }

  #social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: var(--content-desktop-width) ;
    background-color: var(--navbar-background-color);
    border-radius: var(--border-radius);
    border: var(--navbar-border-width) var(--navbar-border-style) var(--navbar-border-color);
    margin: var(--no-space);
    padding: var(--no-space);
  
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: var(--no-space);
      padding: var(--no-space);
      gap: var(--space-3);
    
      li {
        margin: var(--no-space);
        padding: var(--no-space);
      
        a {
          color: var(--navbar-link-color);
          text-decoration: none;
          font-weight: var(--navbar-text-weight);
          font-size: 13px;
          font-family: var(--default-font-family);
        }
  
        a:hover {
          color: var(--navbar-link-highlight-color);
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    margin: var(--no-space);
    padding-top: var(--space-8);
    padding-bottom: var(--space-4);
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: var(--content-desktop-width);
      background-color: var(--content-background-color);
      border-radius: var(--border-radius);
      border-color: var(--content-border-color);
      border-style: var(--content-border-style);
      border-width: var(--content-border-width);
      min-height: 200px;
      padding: var(--no-space);
      margin: var(--content-margin);
  
  
      #skilled_electricians {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #ourwork {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }

      #about {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px; 
      }
  
      #recessed-lighting {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #ceiling-fans {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #electrical-panels {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #switches {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #fixtures {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
        margin-bottom: var(--space-4);
      }

      #services {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      #contact {
        border-radius: var(--border-radius);
        width: 95%;
        margin-top: 15px;
      }
  
      .service-category {
        h2 {
          display: flex;
          margin-bottom: var(--space-2);
          margin-top: var(--space-3);
          font-family: var(--title-font-family);
          font-weight: var(--title-font-weight);
          font-size: var(--font-size-2xl);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          margin-left: var(--space-4);
          margin-right: var(--space-4);
          width: 95%;
          align-items: left;
        }
  
        p {
          margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 13px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
            text-indent: var(--space-4);
        }
  
        ul {
          margin-left: 20px;
          list-style-type: disc;
  
          li {
            margin-top: var(--no-space);
            margin-bottom: var(--space-2);
            margin-left: var(--space-4);
            margin-right: var(--space-4);
            width: 95%;
            font-family: var(--paragraph-font-family);
            font-weight: var(--paragraph-font-weight);
            font-size: 13px;
            letter-spacing: var(--letter-spacing);
            line-height: var(--default-line-height);
            align-items: left;
          }
        }
      }
  
      h1 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-2xl);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      h2 {
        display: flex;
        margin-bottom: var(--space-2);
        margin-top: var(--space-3);
        font-family: var(--title-font-family);
        font-weight: var(--title-font-weight);
        font-size: var(--font-size-lg);
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        align-items: left;
      }
  
      p {
        display: flex;
        margin-top: var(--no-space);
        margin-bottom: var(--space-4);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        font-size: 13px;
        letter-spacing: var(--letter-spacing);
        line-height: var(--default-line-height);
        align-items: left;
        text-indent: var(--space-5);
      }
  
      .youtube-video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--space-5);
        margin-bottom: var(--space-5);
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        width: 95%;
      }
  
      .licensing {
        display: flex;
        flex: 1;
        margin-left: var(--space-4);
        margin-right: var(--space-4);
        margin-top: var(--space-2);
        margin-bottom: var(--space-1);
        justify-content: center;
        align-items: center;
  
        p {
          display: flex;
          text-indent: var(--no-space);
          font-family: var(--paragraph-font-family);
          font-weight: var(--paragraph-font-weight);
          font-size: var(--font-size-xs);
          letter-spacing: var(--letter-spacing);
          line-height: var(--default-line-height);
          align-items: right;
          margin-bottom: 0;
        }
      }
    }
  }
}
